#left {
  width: 50%;
  background-color: #ade5ff;
}
h2 {
  text-align: center;
  padding: 10px 30px;
  font-size: 20px;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  background-color: #54e1eb;
  width: 30%;
  height: auto;
  margin: 10px auto;
}
h3 {
  background-color: #54e1eb;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  margin: 5px;
  padding: 10px 10px 10px 30px;
  width: 120px;
  
}
#face {
  padding: 30px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #40b9ff;
  border-radius: 20px;
  img {
    max-width: 100%;
    height: auto;
  }
}
#needs {
  width: 100%;
}
.needTitleAndValue {
  margin: 5px 0;
  h3,
  p,
  .progress {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin: 0;    
  }
  p {
    width: 30px;
    background-color: #94FFE4;
    padding: 10px;
    
  }
}

.progress {
  width: calc(50% - 230px);
  position: absolute;
}

.progressBar {
  height: 39px;
  background-color: #40B9FF;
}

@media (max-width: 700px) {
  #left {
    width: 100%;
  }
  .progress {
    width: calc(100% - 230px);
  }
}