h1,
h2,
h3,
p,
ul,
a,
button,
input {
  font-family: "Overpass", sans-serif;
  margin: 0;
}
html,
body,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #789ceb;
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 60px;
  letter-spacing: 30px;
}
header {
  background-color: #baffe0;
  width: 100%;
}
#main {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%;
}
footer {
  background-color: #92e8e3;
  img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
}
