#interaction {
  width: 50%;
  background-color: #92e8e3;
}
#dictionnary {
  div {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    p{
      margin-top: 5px;
    }
    img {
      width: 70px;
      height: auto;
    }
  }
}
.needsDict {
  margin: 5px;
  display: inline-block;
}
#console {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  input {
    height: 50px;
    color: black;
    background-color: #92e8e3;
    border: solid 3px #789ceb;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    &:hover, &:focus {
      background-color: #b6e0de;
    }
  }
  button {
    background-color: white;
    height: 50px;
    width: 180px;
    padding: 5px 10px;
    border: solid 3px #789ceb;
    border-radius: 5px;
    color: #789ceb;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    &:focus {
      outline: none;
      background-color: #92e8e3;
    }
  }
}
.cmd{
  background-color: #789ceb;
  padding: 3px;
}
@media (max-width: 700px) {
  #interaction {
    width: 100%;
    flex-flow: row wrap;
  }
  #dictionnary img{
    display: none;
  }
}
