h1,
h2,
h3,
p,
ul,
a,
button,
input {
  font-family: "Overpass", sans-serif;
  margin: 0; }

html,
body,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  color: #789ceb;
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 60px;
  letter-spacing: 30px; }

header {
  background-color: #baffe0;
  width: 100%; }

#main {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  width: 100%; }

footer {
  background-color: #92e8e3; }
  footer img {
    width: 100%;
    height: auto; }

@media (max-width: 700px) {
  h1 {
    font-size: 40px; } }
#left {
  width: 50%;
  background-color: #ade5ff; }

h2 {
  text-align: center;
  padding: 10px 30px;
  font-size: 20px;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  background-color: #54e1eb;
  width: 30%;
  height: auto;
  margin: 10px auto; }

h3 {
  background-color: #54e1eb;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
  margin: 5px;
  padding: 10px 10px 10px 30px;
  width: 120px; }

#face {
  padding: 30px;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #40b9ff;
  border-radius: 20px; }
  #face img {
    max-width: 100%;
    height: auto; }

#needs {
  width: 100%; }

.needTitleAndValue {
  margin: 5px 0; }
  .needTitleAndValue h3,
  .needTitleAndValue p,
  .needTitleAndValue .progress {
    display: inline-block;
    text-align: center;
    font-size: 15px;
    margin: 0; }
  .needTitleAndValue p {
    width: 30px;
    background-color: #94FFE4;
    padding: 10px; }

.progress {
  width: calc(50% - 230px);
  position: absolute; }

.progressBar {
  height: 39px;
  background-color: #40B9FF; }

@media (max-width: 700px) {
  #left {
    width: 100%; }

  .progress {
    width: calc(100% - 230px); } }
#interaction {
  width: 50%;
  background-color: #92e8e3; }

#dictionnary div {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 10px; }
  #dictionnary div p {
    margin-top: 5px; }
  #dictionnary div img {
    width: 70px;
    height: auto; }

.needsDict {
  margin: 5px;
  display: inline-block; }

#console {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center; }
  #console input {
    height: 50px;
    color: black;
    background-color: #92e8e3;
    border: solid 3px #789ceb;
    outline: none;
    border-radius: 5px;
    padding: 5px; }
    #console input:hover, #console input:focus {
      background-color: #b6e0de; }
  #console button {
    background-color: white;
    height: 50px;
    width: 180px;
    padding: 5px 10px;
    border: solid 3px #789ceb;
    border-radius: 5px;
    color: #789ceb;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase; }
    #console button:focus {
      outline: none;
      background-color: #92e8e3; }

.cmd {
  background-color: #789ceb;
  padding: 3px; }

@media (max-width: 700px) {
  #interaction {
    width: 100%;
    flex-flow: row wrap; }

  #dictionnary img {
    display: none; } }

/*# sourceMappingURL=style.css.map */
